/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #9C3030;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 0; padding: 0.75rem;
  position: relative; color: #fff;
  background-color: #9C3030;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  max-width: 400px;
}

/* The Close Button (x) */
.close {
  float:right ;
  color: #fff;
  font-size: 32px;
  font-weight: bold; margin-top: -1rem;
  vertical-align: middle;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
table{
  border: 1px solid #8F8989; 
}

.amt{
  width: 10%;
  padding: 3px;
  margin: 0px;
}
 .nme{
  width: 30%;
  padding: 3px;
  margin: 0px; 
}
 .tyms{
  width: 20%;
  padding: 3px;
  margin: 0px;
 }
.thd{
  padding: 5px;
  color: #5B5B5B;
  margin-bottom: 2rem;
}
tr.tbd{
  color: #8F8989; font-weight: normal;
}
table{
  overflow-x: auto;
}
@media screen and (min-width: 601px) {
  body { 
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    color: rgb(91, 91, 91);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.2; 
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: rgba(0,0,0,0.5)  rgba(0,0,0,0.3);   /* scroll thumb and track */
    
  }
  #myNav{
    display: block;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  
  .nav-icon{
    font-size: 1.6rem;
    vertical-align: middle;
  }
  .notify{
    font-weight:bolder;
    color:  #fff ;
    font-size: 8px;
    margin-left: -11px;
    background-color:  #f54141 ;
    padding: 1px 4px;
    border-radius: 25px;
    border: 1px solid #fff;
  }
  .topnav {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 1px 4px 2px #d4d1d1;
    padding: 15px;  
  }
  .menu-drop{
    min-width: 200px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 3%; box-shadow: 1px 1px 4px 2px #d4d1d1;
    top: 60px; font-size: 11px;
    z-index: 99;
  }
  .menu-drop-item{
    display: block;
    padding:10px;
  }
  .menu-drop-item a:hover{
    padding-bottom:5px;
    border-bottom: 2px solid #9C3030;
  }
  .info{
    color: #9b9999;
    margin-left: 2.5rem;
  }
  .drop-icon{
    color: #9C3030; display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    vertical-align: middle;
  }
  .logout-btn{
    margin-top: 5px;
    color: #f1f1f1;
    padding:5px 1rem;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: #9C3030;
    border: none;
  }
  .topnav a {
    color: rgb(91, 91, 91);
    text-align: center;
    padding: 5px 2px;
    text-decoration: none;
  }
  .arrow{
      float: right;
      font-size: 11px; 
      margin-top: 3px;
      vertical-align: middle;
  }
  .sidebar {
      height: 100%;
      width: 12rem ; 
      position: fixed; font-weight: bold;
      left: 0; font-size: 14px;
      background-color: #fff;
      overflow-x: hidden; 
      padding-top: 0px;
      margin-top: 10px;
      box-shadow: 1px 1px 4px 2px #d4d1d1;
    } 
    .section{
      height: auto;
      height: 100%; 
      position: fixed;
      font-weight: bold;
      font-size: 14px; width:100%; 
      padding: 0px;
      padding-top: 10px; 
      overflow-y: auto;
    } 
    .main {  
      padding: 10px ;
      background-color: #fff;
      margin-bottom: 10px;
      height: 95%;
      box-shadow: 1px 1px 4px 3px #d4d1d1;
      margin-left: 12.65rem;
    }
    .btmbar { 
      background-color: #fafafa;position: fixed;
      bottom: 0; padding: 1rem; width: 100%;
      right: 0; left: 12.65rem;
      box-shadow: 1px 1px 4px 3px #dad6d6;
    }
    .btmbar a {
      display: inline-block;
      color: rgb(91, 91, 91);
      text-decoration: none; font-weight: bold;
      text-align: right;
    }
    .sidebar a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      color: #fafafa;
      display: block;
    } 
    #webSyd{
      transition: 0.5s;
    }
    #webMain{
      transition: 0.5s;
    }
    #webBtm{
      transition: 0.5s;
    }
    .sidebar a:hover {
      color: #5B5B5B;
    }
    .overlay .closebtn {
      display: none;
    }
    .overlay .closebtn a, .overlay .closebtn a:hover{
      display: none;
    }
    .overlay a:hover{
      color: rgb(91, 91, 91);
      background-color: #ccc;
    }
    
    .sub-top-nav{
      text-align: right; margin-top: -25px;
      margin-right: 3%;
    }
    
    .sub-side-bar .mobile_btn{
      display: none;
    }
    .web_btn{
      vertical-align: middle;
    }
    .logo{
      vertical-align: middle;
    }
    .mobile_nav{
      display: none;
    }
    .mobile_btn{
      display: none;
    }
    .lab-name{
      vertical-align: middle;
      font-size: calc( 12px + (24 - 16) * (100vw - 400px) / (800 - 400) );
    }
    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
      display: none;
      background-color: #fafafa; 
    }
    div.dropdown-container a {
      background-color: #EFEFEF;;
      margin:3px auto auto;
      padding-left: 3.6rem; 
    } 
 
    .vertical-menu{
      max-height: 85%;
      overflow-y: auto;
      width: auto;
    }
    .vertical-menu a {
      background-color: #fafafa;
      color: rgb(91, 91, 91);
      display: block;
      padding: 12px;
      text-decoration: none;
    } 
    .vertical-menu a:hover {
      background-color: #ccc;
    }

    .navName_active{
      border-bottom: 2px solid  #9C3030;
      padding-bottom: 5px;
    }
    .side-icon{
      color: #9C3030;
      margin-right: 0.5rem;
    }
  
    .sydIcon{
      margin-right: 0.5rem;
      transition: 0.5s;
    }
    .btmbar a:hover {
      background: #f1f1f1;
      color: rgb(91, 91, 91);
    } 
    .btmbar a.active {
      background-color: #04AA6D;
      color: white;
    }
    .btm-info{
      text-align: left; font-weight: bold;
      margin-bottom: -14px;
    }
    .btm-link{
      text-align: left;
      margin-left: 60%;
    }
    .miniTabs{
      float: right;
      font-size: 11px; 
      margin-top: 1rem;
      vertical-align: middle;
   }
   .miniTabs a{
    margin: 5px 5px auto auto;
    color: #f1f1f1;
    padding:5px 1rem;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: #9C3030;
    border: none;
  }
  .miniTabs a:active, .miniTabs a:hover{
    margin-top: 5px;
    color: #f1f1f1;
    padding:5px 1rem;
    width: 100%; color: #9C3030;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #9C3030;
    }
    .miniTabs_div{
      margin-top: 3rem;
    }
  }
    
@media screen and (max-width: 600px) {

    body { 
      margin: 0 auto;
      -webkit-font-smoothing: antialiased;
      color: rgb(91, 91, 91);
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 1.2; 
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
    
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    #myNav{
      display: none;
    }
    .overlay {
      height: 100%;
      width: 55%;
      position: fixed; left: 8px;
      overflow-x: hidden;
      overflow-y: scroll; top: 6.5rem;
      z-index: 1;
    }
    
    .overlay-content {
      max-height: 78.5%; 
      position: relative;
      overflow-y: scroll;
      width: 100%;
      
    }
    .overlay a {
      padding: 8px;
      text-decoration: none;
      color: #818181;
      display: block;
      transition: 0.3s; 
    }
     
    .overlay a:hover {
      color: rgb(91, 91, 91);
      background-color: #ccc;
    }
    
    .overlay .closebtn {
      margin-left: 85%;
      margin-bottom: 10px;
    }
      
    .vertical-menu a {
      background-color: #fafafa;
      color: rgb(91, 91, 91);
      display: block;
      padding: 12px;
      text-decoration: none;
    }
    .vertical-menu {
      background-color: #fafafa; 
    }
 
    .vertical-menu a:hover {
      background-color: #ccc;
    }
  
    .user-name{
      display: none;
    }
    .nav-icon{
      font-size: 1rem;
      vertical-align: middle;
    }
    .logo{
      max-width:35%;
      margin-left: -5px;
      vertical-align: middle;
    }
    .sub-top-nav{
      text-align: right; margin-top: -1.3rem;
      margin-right: -5px;
    }
    .sub-side-bar .web_btn{
      display: none;
    }
    .mobile_btn{
      margin-left: -10px; vertical-align: middle;
    }
    .lab-name{
      vertical-align: middle;
      font-size: calc( 13px + (24 - 16) * (100vw - 400px) / (800 - 400) );
    }
    .web_btn{
      display: none;
    }
    
    .web_nav{
      display: none;
    }
    .notify{
      font-weight:bolder;
      color:  #fff ;
      font-size: 8px;
      margin-left: -11px;
      background-color:  #f54141 ;
      padding: 1px 4px;
      border-radius: 25px;
      border: 1px solid #fff;
    }
    .topnav {
      overflow: hidden;
      background-color: #fff;
      box-shadow: 1px 1px 4px 2px #d4d1d1;
      padding: 15px; text-align: left; 
    }
    .menu-drop{
      min-width: 200px;
      padding: 3px;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      position: absolute;
      right: 3%; box-shadow: 1px 1px 4px 2px #d4d1d1;
      top: 10%; font-size: 11px;
      text-align: left;
  
    }
    .menu-drop-item{
      display: block;
      padding:10px;
      
    }
    .menu-drop-item a:hover{
      padding-bottom:5px;
      border-bottom: 2px solid #9C3030;
    }
    .info{
      color: #9b9999;
      margin-left: 2.5rem;
    }
    .drop-icon{
      color: #9C3030; display: inline-block;
      margin-right: 1rem;
      font-size: 1rem;
      vertical-align: middle;
    }
    .logout-btn{
      margin-top: 5px;
      color: #f1f1f1;
      padding:5px 1rem;
      width: 100%;
      text-align: center;
      border-radius: 5px;
      background-color: #9C3030;
      border: none;
    }
    .topnav a {
      color: rgb(91, 91, 91);
      text-align: center;
      padding: 5px 2px;
      text-decoration: none;
    }
    
    .arrow{
        float: right;
        font-size: 11px; 
        margin-top: 3px;
        vertical-align: middle;
    }
   
      .sidebar a:hover {
        color: #5B5B5B;
      }
      /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        background-color: #fafafa; 
      }
      div.dropdown-container a {
        background-color: #EFEFEF;;
        margin:3px auto auto;
        padding-left: 3.6rem; 
      } 
      
      .main {  
        padding: 10px ;
        background-color: #fafafa;
        margin: 8px;
        box-shadow: 1px 1px 4px 3px #d4d1d1; 
        height: 80%;
      }
    
      .btmbar { 
        background-color: #fafafa;
        bottom: 0; position: fixed;
        padding: 1rem;
        width: 100%; 
        max-width: 100%;
        box-shadow: 1px 1px 4px 3px #dad6d6;
      }
      .btmbar a {
        display: inline-block;
        color: rgb(91, 91, 91);
        text-decoration: none; font-weight: bold;
        text-align: right;
      }
      .navName_active{
        border-bottom: 2px solid  #9C3030;
        padding-bottom: 5px;
      }
      .side-icon{
        color: #9C3030;
        margin-right: 0.5rem;
      }
      #sydIcon{
        margin-right: 0.5rem;
      }
      .sydIcon{
        margin-right: 0.5rem;
      }
      .btmbar a:hover {
        background: #f1f1f1;
        color: rgb(91, 91, 91);
      }
      
      .btmbar a.active {
        background-color: #04AA6D;
        color: white;
      }
      .btm-info{
        text-align: center; font-weight: bold;
        font-size: 11px;
      }
      .btm-link{
        display: none;
      }
  }