@media screen and (min-width: 600px) {
  body { 
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    color: rgb(91, 91, 91);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.2; 
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: rgba(0,0,0,0.5)  rgba(0,0,0,0.3);   /* scroll thumb and track */
    
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  
  .nav-icon{
    font-size: 1.6rem;
    vertical-align: middle;
  }
  .notify{
    font-weight:bolder;
    color:  #fff ;
    font-size: 8px;
    margin-left: -11px;
    background-color:  #f54141 ;
    padding: 1px 4px;
    border-radius: 25px;
    border: 1px solid #fff;
  }
  .topnav {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 1px 4px 2px #d4d1d1;
    padding: 15px;  
  }
  .menu-drop{
    min-width: 200px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 3%; box-shadow: 1px 1px 4px 2px #d4d1d1;
    top: 60px; font-size: 11px;
    z-index: 99;
  }
  .menu-drop-item{
    display: block;
    padding:10px;
  }
  .menu-drop-item a:hover{
    padding-bottom:5px;
    border-bottom: 2px solid #9C3030;
  }
  .info{
    color: #9b9999;
    margin-left: 2.5rem;
  }
  .drop-icon{
    color: #9C3030; display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    vertical-align: middle;
  }
  .logout-btn{
    margin-top: 5px;
    color: #f1f1f1;
    padding:5px 1rem;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: #9C3030;
    border: none;
  }
  .topnav a {
    color: rgb(91, 91, 91);
    text-align: center;
    padding: 5px 2px;
    text-decoration: none;
  }
  .arrow{
      float: right;
      font-size: 11px; 
      margin-top: 3px;
      vertical-align: middle;
  }
  .sidebar {
      height: 100%;
      width: 20%;
      position: fixed;
      z-index: 1; font-weight: bold;
      left: 0; font-size: 14px;
      background-color: #fafafa;
      overflow-x: hidden;
      padding-top: 0px;
      margin-top: 10px;
      box-shadow: 1px 1px 4px 2px #d4d1d1;
    }  
    .sidebar a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      color: #fafafa;
      display: block;
    } 
    #webSyd{
      width: 20%;
      transition: 0.5s;
    }
    #webMain{
      margin-left: 20.75%;
      transition: 0.5s;
    }
    #webBtm{
      margin-left: 20.75%;
      transition: 0.5s;
    }
    .sidebar a:hover {
      color: #5B5B5B;
    }
    .overlay .closebtn {
      display: none;
    }
    .overlay .closebtn a, .overlay .closebtn a:hover{
      display: none;
    }
    .overlay a:hover{
      color: rgb(91, 91, 91);
      background-color: #ccc;
    }
    
    .sub-top-nav{
      text-align: right; margin-top: -25px;
      margin-right: 3%;
    }
    
    .sub-side-bar .mobile_btn{
      display: none;
    }
    .web_btn{
      vertical-align: middle;
    }
    .logo{
      vertical-align: middle;
    }
    .mobile_nav{
      display: none;
    }
    .mobile_btn{
      display: none;
    }
    .lab-name{
      vertical-align: middle;
      font-size: calc( 12px + (24 - 16) * (100vw - 400px) / (800 - 400) );
    }
    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
      display: none;
      background-color: #fafafa; 
    }
    div.dropdown-container a {
      background-color: #EFEFEF;;
      margin:3px auto auto;
      padding-left: 3.6rem; 
    } 
    .main {  
      padding: 10px ;
      background-color: #fafafa;
      margin: 10px 0 0 20.75%;
      box-shadow: 1px 1px 4px 3px #d4d1d1;
      min-height: 400px;
      height: 100%;
    } 
    .vertical-menu{
      max-height: 65%;
      overflow-y: auto;
    }
    .vertical-menu a {
      background-color: #fafafa;
      color: rgb(91, 91, 91);
      display: block;
      padding: 12px;
      text-decoration: none;
    } 
    .vertical-menu a:hover {
      background-color: #ccc;
    }
    .btmbar { 
      background-color: #fafafa;
      position: absolute;
      bottom: 0; padding: 1rem;
      width: auto; 
      min-width: 76.75%;
      margin-left: 20.75%;
      box-shadow: 1px 1px 4px 3px #dad6d6;
    }
    .btmbar a {
      display: inline-block;
      color: rgb(91, 91, 91);
      text-decoration: none; font-weight: bold;
      text-align: right;
    }
    .navName_active{
      border-bottom: 2px solid  #9C3030;
      padding-bottom: 5px;
    }
    .side-icon{
      color: #9C3030;
      margin-right: 0.5rem;
    }
  
    .sydIcon{
      margin-right: 0.5rem;
      transition: 0.5s;
    }
    .btmbar a:hover {
      background: #f1f1f1;
      color: rgb(91, 91, 91);
    } 
    .btmbar a.active {
      background-color: #04AA6D;
      color: white;
    }
    .btm-info{
      text-align: left; font-weight: bold;
      margin-bottom: -14px;
    }
    .btm-link{
      text-align: right;
      margin-right: 10px;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    body { 
      margin: 0 auto;
      -webkit-font-smoothing: antialiased;
      color: rgb(91, 91, 91);
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 14px;
      line-height: 1.2; 
    }
    ::-webkit-scrollbar {
      width: 5px;
    }
    
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.9);
      overflow-x: hidden;
      transition: 0.5s;
    }
    
    .overlay-content {
      position: relative;
      top: 0;
      width: 55%; 
    }
    
    .overlay a {
      padding: 8px;
      text-decoration: none;
      color: #818181;
      display: block;
      transition: 0.3s; 
    }
    
    .overlay a:hover {
      color: rgb(91, 91, 91);
      background-color: #ccc;
    }
    
    .overlay .closebtn {
      border-bottom: 2px solid #9C3030;
    }
    .overlay .closebtn a, .overlay .closebtn a:hover{
      border-bottom: 2px solid #9C3030;
    }
    .user-name{
      display: none;
    }
    .nav-icon{
      font-size: 1rem;
      vertical-align: middle;
    }
    .logo{
      max-width:35%;
      margin-left: -5px;
      vertical-align: middle;
    }
    .sub-top-nav{
      text-align: right; margin-top: -1.3rem;
      margin-right: -5px;
    }
    .sub-side-bar .web_btn{
      display: none;
    }
    .mobile_btn{
      margin-left: -10px; vertical-align: middle;
    }
    .lab-name{
      vertical-align: middle;
      font-size: calc( 13px + (24 - 16) * (100vw - 400px) / (800 - 400) );
    }
    .web_btn{
      display: none;
    }
    
    .web_nav{
      display: none;
    }
    .notify{
      font-weight:bolder;
      color:  #fff ;
      font-size: 8px;
      margin-left: -11px;
      background-color:  #f54141 ;
      padding: 1px 4px;
      border-radius: 25px;
      border: 1px solid #fff;
    }
    .topnav {
      overflow: hidden;
      background-color: #fff;
      box-shadow: 1px 1px 4px 2px #d4d1d1;
      padding: 15px; text-align: left; 
    }
    .menu-drop{
      min-width: 200px;
      padding: 3px;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      position: absolute;
      right: 3%; box-shadow: 1px 1px 4px 2px #d4d1d1;
      top: 10%; font-size: 11px;
      text-align: left;
  
    }
    .menu-drop-item{
      display: block;
      padding:10px;
      
    }
    .menu-drop-item a:hover{
      padding-bottom:5px;
      border-bottom: 2px solid #9C3030;
    }
    .info{
      color: #9b9999;
      margin-left: 2.5rem;
    }
    .drop-icon{
      color: #9C3030; display: inline-block;
      margin-right: 1rem;
      font-size: 1rem;
      vertical-align: middle;
    }
    .logout-btn{
      margin-top: 5px;
      color: #f1f1f1;
      padding:5px 1rem;
      width: 100%;
      text-align: center;
      border-radius: 5px;
      background-color: #9C3030;
      border: none;
    }
    .topnav a {
      color: rgb(91, 91, 91);
      text-align: center;
      padding: 5px 2px;
      text-decoration: none;
    }
    
    .arrow{
        float: right;
        font-size: 11px; 
        margin-top: 3px;
        vertical-align: middle;
    }
   
      .sidebar a:hover {
        color: #5B5B5B;
      }
      /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        background-color: #fafafa; 
      }
      div.dropdown-container a {
        background-color: #EFEFEF;;
        margin:3px auto auto;
        padding-left: 3.6rem; 
      } 
      
      .main {  
        padding: 10px ;
        background-color: #fafafa;
        margin: 8px;
        box-shadow: 1px 1px 4px 3px #d4d1d1; 
        height: auto;
        min-height: 350px;
      }
      
      .vertical-menu a {
        background-color: #fafafa;
        color: rgb(91, 91, 91);
        display: block;
        padding: 12px;
        text-decoration: none;
      }
      .vertical-menu {
        background-color: #fafafa;
        max-height: 65%;
        overflow-y: auto;
      }
   
      .vertical-menu a:hover {
        background-color: #ccc;
      }
      
      .btmbar { 
        background-color: #fafafa;
        bottom: 0;
        padding: 1rem;
        width: auto; 
        max-width: 100%;
        box-shadow: 1px 1px 4px 3px #dad6d6;
      }
      .btmbar a {
        display: inline-block;
        color: rgb(91, 91, 91);
        text-decoration: none; font-weight: bold;
        text-align: right;
      }
      .navName_active{
        border-bottom: 2px solid  #9C3030;
        padding-bottom: 5px;
      }
      .side-icon{
        color: #9C3030;
        margin-right: 0.5rem;
      }
      #sydIcon{
        margin-right: 0.5rem;
      }
      .sydIcon{
        margin-right: 0.5rem;
      }
      .btmbar a:hover {
        background: #f1f1f1;
        color: rgb(91, 91, 91);
      }
      
      .btmbar a.active {
        background-color: #04AA6D;
        color: white;
      }
      .btm-info{
        text-align: center; font-weight: bold;
        font-size: 11px;
        margin-bottom: 5px;
      }
      .btm-link{
        text-align: center; font-size: 11px;
      }
  }